html, body{
   margin:0;
   padding:0;
   background:#088A29;
}
#board{
   height:58vh;
   display:block;
   margin:auto;
}
#pieces{
   height:37vh;
   display:block;
   margin:auto;
}
text{
   fill:white;
   font-family:'Courier New';
}
